<div class="InvitationContainer">
	<div class="topBanner">
		<span style="color: white;">
			<%=@channel.name%>
		</span>
  </div>
</div>

<div>
	<%= turbo_stream_from @channel %>
	<div id="messages" style="width: 100%; height: 80vh; overflow-y: scroll; padding-right: 25px; padding-left: 25px; display: flex; flex-direction: column-reverse;">
	<%=render partial: "channels/messages_info"%>
	</div>

	<div class="messages_form">
		<%= render "layouts/shared/new_messages_form", channel: @channel%>
	</div>
</div>
<%User.all.each do |user|%>
	<%if !(current_user.id.to_s).match?(user.id.to_s) && current_user.role == "Admin_#{@channel.id}" && current_user.clients.pluck(:id).include?(user.id)%>
		<%if !@channel.users.pluck(:id).include?(user.id)%>
			<%=user.username%>
			<%=button_to "AddUser", channel_path(:channel_id => @channel.id, :user_id => user.id), :method => :put, :remote=> true%>
		<%end%>
	<%end%>
<%end%>