<div class="deviceContainer">
  <header class="deviceHeader">
    <div class="deviceImageContainer">
      <img src="https://a.slack-edge.com/bv1-9/slack_logo-ebd02d1.svg"/>
    </div>
  </header>
  <section class="deviceSecrion">
    <div class="deviceSectionInner">

      <h1 style="display: flex; align-items: center; justify-content: center;">Sign up to slack</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: "false" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :username %><br />
          <%= f.text_field :username, autofocus: true, autocomplete: "username", class:"form-control", "aria-label": "default input example"%>
        </div>

        <div class="field">
          <%= f.label :avatar %><br />
          <%= f.file_field :avatar, type:"file", id:"inputGroupFile02", class:"form-control", "aria-label": "default input example"%>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", autocomplete: "email", class:"form-control", "aria-label": "default input example", placeholder: "name@email.com" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <!-- <em>(<%= @minimum_password_length %> characters minimum)</em> -->
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control", "aria-label": "default input example", placeholder: "Password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", "aria-label": "default input example", placeholder: "Confirm password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class:"btn deviceButton", style:"background-color:  #4a154be6; color: #ffffff"%>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </section>
</div>
