<div class="form-group msg-form" id="channel-form" style="position: fixed; bottom: 20px; width: 75vw; margin-left:20px ;">
	<%= form_with(model:@message, remote: true, class: "d-flex", data: {controller: "reset-form", action: "turbo:submit-end->reset-form#reset"}) do |f| %>
	<%if @channel.present?%>
		<%= f.hidden_field :channel_id, value: channel.id %>
	<%else%>
		<%= f.hidden_field :invitation_id, value: invitation.id %>
	<%end%>
	<div id="attachment-previews" data-controller="message-preview" data-action="message-preview#preview" class="d-none">
	</div>
	<div class="image-upload">
		<label for="message_attachments">
			<i class="bi bi-plus-circle upload-button"></i>
		</label>
		<%=f.file_field(:attachments, multiple: true, data:{controller: "message-preview", action:"change->message-preview#preview"})%>
	</div>
		<%= f.text_field :msg, id: "chat-text", class: "form-control msg-content", autocomplete: "off" %>
		<%= f.submit "Send", data: {disable_with: false, controller: "message-preview",action: "click->message-preview#clearPreviews"}, class: "btn btn-primary" %>
	<% end %>
</div>