<div class="sidebarContainer">
	<div class="NewChannel">
		<%=link_to "newChannel", new_channel_path, "data-controller":"turbo" %>
	</div>

	<%current_user.channels.each do |channel|%>
		<ul>
			<li>
				<%= link_to channel.name , channel_path(channel.id)%>
			</li>
		</ul>		
	<%end%>
	</br>

	<div clsss = UserClientContainer>
		<%current_user.clients.each do |client|%>
			<%inv = Invitation.find_invitation(current_user.id,client.id)%>
			<div class="UserClientconv">				
					<%= link_to invitation_path(inv) do%>
						<div class="UserClientconvLink">
							<%=image_tag client.avatar, class:"UserClientConvImage"%>
							<%=client.username.capitalize%>
						</div>
					<%end%>
			</div>
		<%end%>
	</div>
	<div class="UserclientPendingInvitation">
		<%current_user.pending_invitations.each do |pending|%>
			<%=pending.user.username%>
			<%=button_to "Add Client", accept_path, params: {id: pending.id,confirmed: true}, method: :patch%>
		<%end%>
	</div>

	<div class="AddUserClient">
		<%User.all.each do |user|%>
		  <%if !current_user.clients.pluck(:id).include?(user.id)%>
				<%if !(current_user.id.to_s).match?(user.id.to_s)%>
					<%=user.username%>
					<%=button_to "Add User", invitations_url(:client_id=>user.id), :method=>"POST"%>
				<%end%>
			<%end%>
		<%end%>
	</div>
</div>
