<div class="InvitationContainer">
	<div class="topBanner">
    <%current_user.clients.each do |client|%>
			<%inv = Invitation.find_invitation(current_user.id,client.id)%>
			<%if inv == @invitation.id%>
			<%= link_to "/users/#{client.id}" do%>
			<%=image_tag client.avatar, class:"image"%>
			<%=client.username%>
			<%end%>
			<%end%>
		<%end%>
    <span></span>
  </div>

<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h1>Channels#show</h1>
<p>Find me in app/views/channels/show.html.erb</p>
<%=current_user.clients%>
<%current_user.clients.first.messages.each do |msg|%>
	<%=msg.msg%>
	<%=msg.user.email%>
<%end%>
</div>