<div class="deviceContainer">
  <header class="deviceHeader">
    <div class="deviceImageContainer">
      <img src="https://a.slack-edge.com/bv1-9/slack_logo-ebd02d1.svg"/>
    </div>
  </header>
  <section class="deviceSecrion">
    <div class="deviceSectionInner">
    <h1 style="display: flex; align-items: center; justify-content: center;">Sign in to slack</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", "aria-label": "default input example", placeholder: "name@email.com"%>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control", "aria-label": "default input example", placeholder: "Password"%>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Sign in", class:"btn deviceButton", style:"background-color:  #4a154be6; color: #ffffff"%>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    </div>
  </section>
</div>